h2 {
    color: #fff;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.proj-links {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #ffa36c;
    color: #fff;
}

.proj-links:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #fff;
    color: #ffa36c;
}

.search-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffa36c;
}

.search-link:hover {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffa36c;
    color: #fff;
}