.edit-username-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.username-label {
    color: #fff;
}

.save-username-btn {
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}