.btn {
    padding: 7px;
    background-color: #3dad59;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
}

.btn:hover {
    background-color: #fff;
    text-decoration: none;
    padding: 7px;
}

.logout {
    background-color: #f05454;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}